:root {
  /* content_width = page_width - (navbar_width + <gap>) */
  --navbar-width: 5rem;
  --main-content-width: calc(100vw - (var(--navbar-width) + 2rem));

  --spatial-focus-color: red;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: lexend, serif;
}

#root {
  background-color: #000;
}

/* get consistent style on all platforms */
button,
a {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  color: inherit;
  font: inherit;
  text-decoration: none;

  display: inline-block;
  cursor: pointer;
  outline: none;

  white-space: nowrap;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  > nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: #000;
    padding: 4rem 0;
    width: var(--navbar-width);

    a {
      text-decoration: none;
      color: orange;
      margin-bottom: 4rem;
    }
  }

  > main {
    width: var(--main-content-width);
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.route-transition-enter-active,
.route-transition-exit-active {
  transition: opacity 0.3s ease;
}

.route-transition-enter,
.route-transition-exit-to {
  opacity: 0;
}

.route-transition-enter-to {
  opacity: 1;
}

.route-transition-enter-active {
  transition-delay: 0.3s;
}

