:root {
  --spatial-focus-color: red;
}

.preview-body-actions > *[spatial-focus] {
  background-color: var(--spatial-focus-color);
}

.row-item[spatial-focus] {
  border-color: var(--spatial-focus-color);
}
