* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

#root {
  background-color: #000;
}


/* get consistent style on all platforms */
button, a {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  
  color: inherit;
  font: inherit;
  text-decoration: none;
  
  display: inline-block;
  cursor: pointer;     
  outline: none;      
  
  white-space: nowrap;
}
