.scroll-container-wrapper {
  overflow: hidden;
}

.scroll-container {
  display: grid;
  min-width: 100%;
  width: max-content;
  height: max-content;
  overflow: hidden;
  justify-content: start;
}
