.scroll-container-wrapper {
  overflow: hidden;
}

.scroll-container {
  display: flex;

  > * {
    flex-shrink: 0;
  }
}


.tv-gallery-row {
  width: 100%;
  overflow: hidden;
  position: relative;

  .tv-gallery-row-track {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
